@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
  font-family: "Poppins", sans-serif;
}
.addEmpDiv{
    position: relative;
    top: 5vw;
    width: 1300px;
    height: 70vh;
    background: rgb(210, 235, 242);
    margin: 20px;
    border-radius: 10px;
  box-shadow: 5px 5px 20px;
;
}
.addEmpDiv hr{
    position: relative;
    top: 30px;
    border: solid 1px black;
}
.addEmpDiv i,.addEmpDiv label{
    position: relative;
    left: 10px;
    top: 15px;
    margin-left: 10px;
    font-size: 20px;
}
#addEmpTable{
    position: relative;
    top: 5vh;
}
#addEmpTable input{
    font-weight: lighter;
    font-size: 20px;
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#gender{
    width: 350px;
    height: 50px;
    font-size: 20px;
}
#addEmpTable td{
   padding: 20px;
}
.addEmpDiv .input1{
    font-size: 20px;
    width: 100px;
    height: 40px;
    position: relative;
    top: 50px;
    left: 30px;
    margin-right: 20px;
}
.colorInput1{
    background: green;
    color: whitesmoke;
}
.colorInput2{
    background: red;
    color: whitesmoke;
}
