.project-div{
  position: relative;
  top: 80px;
  left: 10px;
  width: 1250px;
  height: 70vh;
  background: rgb(210, 235, 242);
  box-shadow: 5px 5px 20px;
  border-radius: 10px;
}
.project-div .btn-printproj{
    position: relative;
    top: 8vh;
    left: 30px;
    margin-right: 10px;
    font-size: 20px;
    width: 100px;
    height: 50px;
    background: rgb(65, 149, 239);
}
hr{
    border: solid 1px black;
}
.addproj{
    position: relative;
    left: -19.5vw;
    width: 200px;
    height: 50px;
    font-size: 20px;
}
.project-div label{
    font-size: 30px;
    position: relative;
    top: 20px;
    left: 30px;
}
.table-proj{
    position: relative;
    left: 30px;
    top: 8vh;
    border-collapse: collapse;
  }
  .table-proj td{
    padding: 20px 80px 20px 20px;
    border: 1px solid black;
  }
  .table-proj tr{
    border: 1px solid black;
  }
  .table-proj td i{
    margin-left: 20px;
    font-size: 20px;
  }